/* style.css */

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.board{
    background-color: darkolivegreen;
}

.head{
    color: orange;
    text-align: center;
    margin-bottom: 10px;
}

.base{
    background-color: orange;
    border-style: groove;
    border-width: 8px;
    border-color: brown;
}

.set{  
    width: 250px;
    margin: 0 auto;
    text-align: left;
}

ul, ol {
    background-color: aquamarine;
}

p {
    font-size: 36px;
}

li{
    font-size: 18px;
}

h3{
    text-align: center;
}